<%= title "Merci" %>

<h2>Votre proposition de session "<%= @session.title %>" a été déposée</h2>

<p>
Nous vous suggérons de compléter cette proposition en ajoutant plus de détails 
et en l'améliorant lorsque vous recevrez du feedback.
</p>
<p>
Vous êtes maintenant invité à participer à notre process de revue collaborative où vous
aidez les autres orateurs à améliorer leur proposition tandis qu'eux vous aident à
perfectionner la votre.
</p>

<p>Allez relever vos mails et connectez-vous pour participer !</p>

<p>Si vous avez un problème, ou une question, envoyez-nous un <a href="mailto:<%= Propile::Application.mail_sender %>">mail</a>. </p>

<p>L'équipe d'orga Agile Grenoble 2014</p> 
