Votre compte a été réinitialisé,

Utilisez le lien ci-dessous pour vous connecter et changer votre mot de passe.

= account_response_session_url(@account.authentication_token)

Vous pouvez copier l'adresse dans votre navigateur si vous le lien n'est pas cliquable.
