%h2 Votre compte a été réinitialisé,

%p
  Cliquez 
  = link_to 'ici', account_response_session_url(@account.authentication_token)
  pour vous connecter et changer votre mot de passe.

%p
  Vous pouvez copier l'adresse dans votre navigateur si vous le lien n'est pas cliquable.
