- title 'Instruction de réinitialisation envoyées'

%h3 
  Les instructions de réinitialisation de votre compte vous ont été envoyées par e-mail
%p
  Utilisez le lien figurant dan ce message pour réinitialiser votre compte et choisir un nouveau mot de passe
