
<h2>formatting</h2>

<p>
Vous pouvez utiliser ces techniques pour obtenir une mise en forme simple:
</p>

<h4>Paragraphes</h4>
<p>
<div class="outlined">
'newline' commence une nouvelle ligne.  <br>2 'newlines' commence un paragraphe </li>
</div>
</p>

<p>
<h4>Rexte mis en valeur</h4>
<div class="outlined">
<p> *<b>gras</b>* and </p>
<p> _<i>italique</i>_  </p>
</div>
</p>

<p>
<h4>Liste à puces</h4>
<div class="outlined">
<pre>
* ceci est une liste
* de choses
* et d'autres
</pre>
</div>

donnera comme résultat: 

<div class="outlined">
<ul>
<li> ceci est une liste </li>
<li> de choses  </li>
<li> et d'autres  </li>
</ul>
</div>
</p>

<p>
<h4>Les liens</h4>
Les simples liens serons affichés cliquable.<br>
Vous pouvez aussi définir le nom des liens:

<div class="outlined">
<pre> [[http://www.agile-grenoble.org Agile Grenoble]] </pre>
</div>
Donnera

<div class="outlined">
  <a href="http://www.agile-grenoble.org">Agile Grenoble</a>
</div>
</p>

