<h2>Process de revue des propositions de sessions</h2>

<p>
Nous appliquons un process de revue, d'amélioration et de sélection des sessions ouvert, transparent et itératif. Il comprend les étapes suivantes:
</p>

<h3>Soumettre une proposition</h3> 
<p>Déposez vos propositions grâce au lien du menu, avec les quelques informations demandées. A ce stade, la proposition n'a pas besoin d'être finalisée - vous pourrez compléter les détails par la suite.
</p>

<h3>Revues et feedback interactifs et ouverts</h3> 
<p>Aidez les autres orateurs à développer leurs propositions, grâce au feedback entre pairs. 
Vous pouvez donner du feedback sur les propositions des autres et améliorer vos propositions en vous appuyant sur le feedback que vous recevez. 
De cette façon nous arriverons à un ensemble de propositions de sessions de qualité, de manière communautaire et transparente.
</p>
<ul>
  <li>Utilisez le <a href="#PerfectionGame">Perfection Game</a> pour donner du feedback </li>
  <li>Si vous le souhaitez, demandez à un orateur expérimenté ou un orag de vous aider à développer votre proposition</li>
  <li>Lorsque vous proposez un sujet, nous vous demandons de contribuer en donnant aussi du feedback aux autres orateurs</li>
</ul>

<a name="PerfectionGame"> <h2>Perfection Game</h2> </a>
<p>Le 'Perfection Game' est une manière de donner du feedback constructif lorsque vous voulez améliorer quelque chose. Cela a été développé par Jim & Michele McCarthy dans le cadre de leurs <a href="http://www.mccarthyshow.com/LearnForFree/TheCoreProtocolsOnline/tabid/103/Default.aspx">Core Protocols</a>. Cela fonctionne comme ceci:
</p>

<ol>
  <li>Quelqu'un présente son travail (par ex: sa proposition de session) et demande du feedback </li>
  <li>Vous notez le travail sur une échelle de 1 à 10, en fonction de la valeur que vous pouvez apporter:<br/>
je vais par exemple donner un 9 sur 10 si je vois de petites améliorations possibles, un 5 sur 10 si j'ai des suggestions qui rendrait la session deux fois plus utile/intéressante, et 1 sur 10 si je peux multiplier la valeur de la proposition par 10 avec mes suggestions d'amélioration.  </li>
  <li>Expliquez ce que vous avez aimé: qu'est-ce qui justifie la note ? Qu'est-ce qui devrait être conservé ?</li>
  <li>Expliquez ce que vous feriez pour rendre la proposition parfaite: quelles actions concrètes devraient être entreprises pour porter la note à un 10 sur 10 ?</li>
</ol>


<p>Quand vous donnez du feedback
</p>

<ul>
  <li>Réfléchissez bien lorsque vous expliquez comment rendre le travail parfait. Il est parfois tentant de faire des remarques négatives mais essayez de les reconstruire de façon positive</li>
  <li>Expliquez votre raisonnement - par ex: "Je ferai xxx parce  que cela permettrait de yyy" </li>
  <li>Ne lésinez pas sur la section "ce que j'ai aimé"; les bons cotés doivent être conservés et renforcés. </li>
  <li>Assurez vous que votre note reflète bien la valeur que vous pensez apporter (pas votre intéret personnel pour le sujet)</li>
  <li>Suivez le sujet et mettez à jour votre feedback lorsque la proposition de session est corrigée. L'itération mène à la perfection :-)</li>
</ul>

<p>Quand vous recevez du feedback
</p>

<ul>
  <li>Remerciez la personne qui a pris le temps de vous donner du feedback</li>
  <li>Ne discutez pas le feedback donné mais posez des questions pour clarifier ce que l'on vous dit et bien comprendre comment améliorer votre présentation du sujet</li>
  <li>Vous êtes responsable de la qualité de votre travail, c'est vous qui décidez si vous souhaitez tenir compte du feedback que vous recevez</li>
</ul>
