<h2>Process de revue des propositions de sessions</h2>

<p>
Nous appliquons un process de revue, d''amélioration et de sélection des sessions ouvert, transparent et itératif. Il comprend les étapes suivantes:
</p>

<h3>Soumettre une proposition</h3> 
<p>Déposez vos propositions grâce au lien du menu, avec les quelques informations demandées. A ce stade, la proposition n'a pas besoin d'être finalisée - vous pourrez compléter les détails par la suite.
</p>

<h3>Revues et feedback interactifs et ouverts</h3> 
<p>Aidez les autres orateurs à développer leurs propositions, grâce au feedback entre pairs. 
Vous pouvez donner du feedback sur les propositions des autres et améliorer vos propositions en vous appuyant sur le feedback que vous recevez. 
De cette façon nous arriverons à un ensemble de propositions de sessions de qualité, de manière communautaire et transparente.
</p>
<ul>
  <li>Utilisez le <a href="#PerfectionGame">Perfection Game</a> pour donner du feedback </li>
  <li>Si vous le souhaitez, demandez à un orateur expérimenté ou un orag de vous aider à développer votre proposition</li>
  <li>Vous pouvez également jouer une ou plusieurs sessions de test dès maintenant. Cela vous aidera à construire votre session sur la base de retours concrets. Inscrivez-vous sur notre <a href="http://www.meetup.com/Repetitions-Agile-France-Perfection-Games/" target="_blank" title="Organiser une rencontre avec un public test">Meetup</a></li>
  <li>Lorsque vous proposez un sujet, nous vous demandons de contribuer en donnant aussi du feedback aux autres orateurs</li>
</ul>

<h3>Choix des sessions</h3> 
<p>A la clôture de l'appel à orateurs, nous demanderons à la communauté Agile France de voter pour les sessions qu'ils aimeraient voir au programme. Le comité de sélection utilisera cette information pour composer un agenda équilibré qui satisfasse les objectifs de la conférence, tienne en deux jours et réponde aux attentes de la communauté (!).
</p>

<h3>Préparation des sessions</h3> 
<p>Nous pouvons conseiller les orateurs à créer d'encore meilleures sessions. Faites un ou plusieurs essais, en particulier pour les nouvelles sessions. 
N'hésitez pas à vous inscrire sur <a href="http://www.meetup.com/Repetitions-Agile-France-Perfection-Games/" target="_blank" title="Organiser une rencontre avec un public test">notre groupe meetup</a> et à solliciter un public ou à participer aux sessions de test des autres orateurs.
</p>

<a name="ReviewCriteria"> <h2>Critères de revue des propositions de session</h2></a>
<p>
Nous voulons créer un programme attractif avec des sessions de grande qualité. 
Gardez à l'esprit les critères de revue suivants et souvenez-vous que le meilleur moyen d'avoir une session de grande qualité est de la jouer et de l'améliorer à partir de feedback réel.
</p>

<ul>
  <li>Qui sera intéressé par cette session ? Est-ce que <i>vous</i> iriez à cette session?  </li>
  <li>Est-ce que la description est claire et engageante ? Est-ce que cela va attirer le public auquel elle est destinée ?</li>
  <li>Quelles connaissances préalables sont attendues des participants ?  </li>
  <li>Quelle valeur cette session apporte-t-elle aux participants et aux organisateurs ?</li>
</ul>
<ul>
  <li>En quoi ce sujet est-il pertinent à Agile France ? </li>
  <li>Fait-il avancer la communauté agile francophone ? </li>
  <li>Est-il utile et/ou intéressant même pour des praticiens agiles expérimentés ? </li>
  <li>En quoi cette session est-elle innovante ou inhabituelle ? sujet, format, ...</li>
  <li>Est-ce que cette session parle aussi de pourquoi les choses marchent (ou ne marchent pas) et ne se limite pas au 'quoi' et au 'comment' ?  </li>
</ul>

<ul>
  <li>Quel est le but de cette session ?  </li>
  <li>Est-ce que cette session est structurée de manière à atteindre ces objectifs ?</li>
  <li>Est-ce que l'agenda est réaliste (vs. la durée indiquée)</li>
</ul>

<ul>
  <li>En quoi le format de cette session facilite l'apprentissage ?</li>
  <li>Quels en sont les résultats et livrables attendus ? Ceux-ci peuvent-ils être communiqués aux personnes qui n'ont pas assisté à la session ?  </li>
</ul>

<p>Nous nous efforçons de rendre le processus ouvert et transparent, en impliquant la communauté dans le processus. 
Pour autant, un processus de sélection totalement objectif n'existe pas. En tant que comité de sélection, nous allons également appliquer un certain nombre de critères globaux:
</p>

<ul>
  <li>Variété des présentateurs; équilibre entre les orateurs expérimentés et nouveaux; orateurs des différentes régions (et pays) et cultures</li>
  <li>Mélange équilibré de sessions expertes sur l'agile et de sessions d'ouverture vers d'autres sujets connexes mais pertinents</li>
  <li>Variété des sujets: méthode, technique, management, accompagnement...  </li>
  <li>Equilibre entre les retours d'expérience, les outils et techniques, les idées innovantes ou provocatrices </li>
  <li>Un maximum de 2 sessions par orateur et pas plus d'une session par présentateur et par jour</li>
</ul>

<a name="PerfectionGame"> <h2>Perfection Game</h2> </a>
<p>Le 'Perfection Game' est une manière de donner du feedback constructif lorsque vous voulez améliorer quelque chose. Cela a été développé par Jim & Michele McCarthy dans le cadre de leurs <a href="http://www.mccarthyshow.com/LearnForFree/TheCoreProtocolsOnline/tabid/103/Default.aspx">Core Protocols</a>. Cela fonctionne comme ceci:
</p>

<ol>
  <li>Quelqu'un présente son travail (par ex: sa proposition de session) et demande du feedback </li>
  <li>Vous notez le travail sur une échelle de 1 à 10, en fonction de la valeur que vous pouvez apporter:<br/>
je vais par exemple donner un 9 sur 10 si je vois de petites améliorations possibles, un 5 sur 10 si j'ai des suggestions qui rendrait la session deux fois plus utile/intéressante, et 1 sur 10 si je peux multiplier la valeur de la proposition par 10 avec mes suggestions d'amélioration.  </li>
  <li>Expliquez ce que vous avez aimé: qu'est-ce qui justifie la note ? Qu'est-ce qui devrait être conservé ?</li>
  <li>Expliquez ce que vous feriez pour rendre la proposition parfaite: quelles actions concrètes devraient être entreprises pour porter la note à un 10 sur 10 ?</li>
</ol>


<p>Quand vous donnez du feedback
</p>

<ul>
  <li>Réfléchissez bien lorsque vous expliquez comment rendre le travail parfait. Il est parfois tentant de faire des remarques négatives mais essayez de les reconstruire de façon positive</li>
  <li>Expliquez votre raisonnement - par ex: "Je ferai xxx parce  que cela permettrait de yyy" </li>
  <li>Ne lésinez pas sur la section "ce que j'ai aimé"; les bons cotés doivent être conservés et renforcés. </li>
  <li>Assurez vous que votre note reflète bien la valeur que vous pensez apporter (pas votre intéret personnel pour le sujet)</li>
  <li>Suivez le sujet et mettez à jour votre feedback lorsque la proposition de session est corrigée. L'itération mène à la perfection :-)</li>
</ul>

<p>Quand vous recevez du feedback
</p>

<ul>
  <li>Remerciez la personne qui a pris le temps de vous donner du feedback</li>
  <li>Ne discutez pas le feedback donné mais posez des questions pour clarifier ce que l'on vous dit et bien comprendre comment améliorer votre présentation du sujet</li>
  <li>Vous êtes responsable de la qualité de votre travail, c'est vous qui décidez si vous souhaitez tenir compte du feedback que vous recevez</li>
</ul>

