%h1 Liste des archived_presenters

%table
  %tr
    %th
    %th
    %th

  - @archived_presenters.each do |archived_presenter|
    %tr
      %td= link_to 'Voir', archived_presenter
      %td= link_to 'Editer', edit_archived_presenter_path(archived_presenter)
      %td= link_to 'Supprimer', archived_presenter, :confirm => 'êtes vous sur?', :method => :delete

%br

= link_to 'Nouveau présentateur archivé', new_archived_presenter_path
